# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project
*.o
*.os
*.swp
examples/cli-single/sequence
examples/cli-subcommands/greetings
examples/repl-basic/demo
examples/repl-class/calculator
examples/test/test
tests/run_tests
